#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.header {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.header h1 {
  font-size: 3rem;
  color: #f3f3f3;
  text-shadow: 0 0 10px #00ccff;
  margin-bottom: 0.5rem;
}

.banner {
  background: linear-gradient(to right, #3ec6ff, #8be9ff);
  border-radius: 10px;
  padding: 1rem 2rem;
  margin: 1rem auto;
  width: fit-content;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
  font-size: 1.2rem;
  color: #1b1b1b;
  font-weight: bold;
}

.subtext {
  font-style: italic;
  color: #ccc;
  font-size: 1rem;
  margin-top: 0.3rem;
}

button {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  background: black;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
